@media only screen and (min-width: 1500px) and (max-width: 2060px) {
  /* css contact maps */
  .contact_maps {
    padding-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact_maps_left {
    position: relative;
  }

  .contact_logo_maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 50%;
  }

  .contact_imgs_logo {
    animation-name: zoomInOut;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  @keyframes zoomInOut {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  .contact_maps_right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .contact_maps_right_companys {
    padding-right: 40%;
  }

  .contact_maps_right_h2 {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    /* line-height: 73px; */
    height: 50px;
    text-transform: uppercase;
    font-family: "Roboto";
    font-style: normal;
    color: #ffffff;
  }

  .contact_maps_right_address_h4 {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    color: #ed1556;

    opacity: 0.8;
  }

  .contact_maps_right_address_p {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #ffffff;
    padding-right: 10%;
    opacity: 0.8;
  }

  .contact_licensing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
  }

  .contact_form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }

  .form_contact {
    background-image: url("../public/images/contact-background-form.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7% 10%;
  }

  .form_name1 .form_name1_h2 {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    padding: 0 12%;
    position: relative;
    /* top: -4rem; */
  }

  .form_name1 .form_name1_p {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 24px;
    padding: 7% 13%;
    position: relative;
    /* top: -5rem; */
  }

  .contact_car {
    position: relative;
    top: -8rem;
  }

  .form_heading {
    display: flex;
    flex-direction: row;
  }

  .form_button {
    width: 100%;
  }

  .form_button_input {
    background: #ffffff;
    border-radius: 56px;
    border: none;
    width: 80%;
    padding: 2rem;
    color: black;
  }

  .form_button_btn {
    background: #ed1556;
    font-family: "Titan One";
    border-radius: 56px;
    border: none;
    padding: 2rem;
    width: 20%;
    position: relative;
    right: 12rem;
    font-size: 2rem;
  }

  /* contact-section */
  .contact-infor-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    /* background-color: #fdebf0; */
  }

  @keyframes shaking {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(10deg);
    }

    50% {
      transform: rotate(0deg);
    }

    75% {
      transform: rotate(-10deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes flying {
    0% {
      margin-top: 0px;
    }

    50% {
      margin-top: 25px;
    }

    100% {
      margin-top: 0px;
    }
  }

  .contact-infor-section .contact-card {
    position: absolute;
    width: 20%;
  }

  .contact-infor-section .contact-card:first-child .contact-panel {
    animation-delay: 0.5s;
    /* border: 1px solid rgb(255, 255, 255); */
    text-align: center;
    transform: rotateY(10deg);
    transform-origin: 50% 50% 0px;
  }

  .contact-infor-section .contact-card .contact-panel {
    background-color: #31397d;
    border-radius: 45px;
    margin: 5px;
    /* min-height: fit-content; */
    padding: 1rem;
    animation-duration: 1.5s !important;
    animation-iteration-count: infinite !important;
    animation-name: flying !important;
    animation-timing-function: ease-in-out !important;
  }

  .contact-infor-section .character {
    aspect-ratio: 1.7 / 1;
    height: auto;
    object-fit: contain;
    width: 15%;
  }

  .contact-infor-section .contact-card:nth-child(4) {
    left: 25%;
    top: 63%;
  }

  .contact-infor-section .contact-card img {
    border-radius: 2rem;
    width: 100%;
  }

  .contact-infor-section .contact-card:nth-child(2) {
    right: 21%;
    top: 10%;
  }

  .contact-infor-section .contact-card:nth-child(3) {
    right: 22%;
    top: 63%;
  }

  .contact-infor-section .contact-card {
    position: absolute;
    width: 20%;
  }

  .contact-infor-section .contact-card img {
    border-radius: 2rem;
    width: 100%;
  }

  .contact-infor-section .contact-card:first-child {
    left: 23%;
    top: 10%;
  }

  .contact-panel-title {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    /* identical to box height */

    color: #ffffff;
    text-align: center;
  }
}

/* Responsive contact */
@media only screen and (min-width: 1300px) and (max-width: 1500px) {
  /* css contact maps */
  .contact_maps {
    padding-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact_maps_left {
    position: relative;
  }

  .contact_logo_maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 50%;
  }

  .contact_imgs_logo {
    animation-name: zoomInOut;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  @keyframes zoomInOut {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  .contact_maps_right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .contact_maps_right_h2 {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    /* line-height: 73px; */
    height: 50px;
    text-transform: uppercase;
    font-family: "Roboto";
    font-style: normal;
    color: #ffffff;
  }

  .contact_maps_right_address_h4 {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    color: #ed1556;

    opacity: 0.8;
  }

  .contact_maps_right_address_p {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #ffffff;
    padding-right: 10%;
    opacity: 0.8;
  }

  .form_button {
    width: 100%;
  }

  .form_button_btn {
    right: 10rem;
  }

  /*  */
  .contact_licensing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
  }

  /* .contact_form {
      width: 100%;
      height: 100rem;
      display: flex;
      justify-content: center;
      align-items: center;
  } */

  .contact_form {
    /* background-color: #fdebf0; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }

  .form_contact {
    background-image: url("../public/images/contact-background-form.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7% 10%;
  }

  .form_name1 .form_name1_h2 {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    padding: 0 12%;
    position: relative;
    /* top: -4rem; */
  }

  .form_name1 .form_name1_p {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 24px;
    padding: 7% 13%;
    position: relative;
    /* top: -5rem; */
  }

  .contact_car {
    position: relative;
    top: -8rem;
  }

  .form_heading {
    display: flex;
    flex-direction: row;
  }

  .form_button {
    width: 100%;
  }

  .form_button_input {
    background: #ffffff;
    border-radius: 56px;
    border: none;
    width: 80%;
    padding: 2rem;
    color: black;
  }

  .form_button_btn {
    background: #ed1556;
    font-family: "Titan One";
    border-radius: 56px;
    border: none;
    padding: 2rem;
    width: 20%;
    position: relative;
    right: 10rem;
    font-size: 2rem;
  }

  /* contact-section */
  .contact-infor-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    /* background-color: #fdebf0; */
  }

  @keyframes shaking {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(10deg);
    }

    50% {
      transform: rotate(0deg);
    }

    75% {
      transform: rotate(-10deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes flying {
    0% {
      margin-top: 0px;
    }

    50% {
      margin-top: 25px;
    }

    100% {
      margin-top: 0px;
    }
  }

  .contact-infor-section .contact-card {
    position: absolute;
    width: 20%;
  }

  .contact-infor-section .contact-card:first-child .contact-panel {
    animation-delay: 0.5s;

    text-align: center;
    transform: rotateY(10deg);
    transform-origin: 50% 50% 0px;
  }

  .contact-infor-section .contact-card .contact-panel {
    background-color: #31397d;
    border-radius: 45px;
    margin: 5px;
    /* min-height: fit-content; */
    padding: 1rem;
    animation-duration: 1.5s !important;
    animation-iteration-count: infinite !important;
    animation-name: flying !important;
    animation-timing-function: ease-in-out !important;
  }

  .contact-infor-section .character {
    aspect-ratio: 1.7 / 1;
    height: auto;
    object-fit: contain;
    width: 15%;
  }

  .contact-infor-section .contact-card:nth-child(4) {
    left: 25%;
    top: 63%;
  }

  .contact-infor-section .contact-card img {
    border-radius: 2rem;
    width: 100%;
  }

  .contact-infor-section .contact-card:nth-child(2) {
    right: 21%;
    top: 10%;
  }

  .contact-infor-section .contact-card:nth-child(3) {
    right: 22%;
    top: 63%;
  }

  .contact-infor-section .contact-card {
    position: absolute;
    width: 20%;
  }

  .contact-infor-section .contact-card img {
    border-radius: 2rem;
    width: 100%;
  }

  .contact-infor-section .contact-card:first-child {
    left: 23%;
    top: 10%;
  }

  .contact-panel-title {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    /* identical to box height */

    color: #ffffff;
    text-align: center;
  }
}

@media only screen and (max-width: 1300px) {
  /* .contact-infor-section {
    height: 90vh;
  }

  .contact-infor-section .contact-card .contact-panel {
    border-radius: 25px;
    width: 100%;
  } */

  /* css contact maps */
  .contact_maps {
    padding-top: 4%;
    display: flex;
    flex-direction: column;
  }

  .contact_maps_left {
    position: relative;
  }

  .contact_logo_maps {
    display: none;
  }

  .contact_imgs_logo {
    animation-name: zoomInOut;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  @keyframes zoomInOut {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  .contact_maps_right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5% 5%;
  }

  .contact_maps_right_h2 {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    /* line-height: 73px; */
    height: 50px;
    text-transform: uppercase;
    font-family: "Roboto";
    font-style: normal;
    color: #ffffff;
  }

  .contact_maps_right_address_h4 {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    color: #ed1556;

    opacity: 0.8;
  }

  .contact_maps_right_address_p {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #ffffff;
    padding-right: 10%;
    opacity: 0.8;
  }

  .contact-infor-section .character {
    display: none;
  }

  .contact-header {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    height: calc(100ch - 90px);
    justify-content: center;
  }

  .contact-header .title {
    color: #ed1556;
    font-size: 6rem;
    font-weight: bolder;
    margin: 2rem;
  }

  .contact-header .image {
    flex: 0 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-header .image img {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    width: 50%;
  }

  .contact-infor-section {
    display: flex;
    flex-direction: column;
  }

  .contact-infor-section .contact-card {
    width: calc(50% - 10px - 2rem);
  }

  .contact-infor-section .contact-card .contact-panel {
    background-color: #1f1f1f;
    border-radius: 10px;
    margin: 5px;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding: 1rem;
  }

  .contact-infor-section .contact-card p {
    color: #ed1556;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 1rem 0;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .contact-infor-section .contact-card .contact-panel {
    background-color: #1f1f1f;
    border-radius: 10px;
    margin: 5px;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding: 1rem;
  }

  .contact-infor-section .contact-card p {
    color: #ed1556;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 1rem 0;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .contact-infor-section .contact-card .contact-panel {
    background-color: #1f1f1f;
    border-radius: 10px;
    margin: 5px;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding: 1rem;
  }

  .contact-infor-section .contact-card p {
    color: #ed1556;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 1rem 0;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .contact-infor-section .contact-card:nth-child(4) {
    left: 15%;
    top: 60%;
  }

  .contact-infor-section .contact-card {
    width: calc(50% - 10px - 2rem);
  }

  .contact-infor-section .contact-card .contact-panel {
    background-color: #31397d;
    border-radius: 10px;
    margin: 5px;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding: 1rem;
  }

  .contact-infor-section .contact-card p {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 1rem 0;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .contact-infor-section .contact-card img {
    border-radius: 1rem;
    width: 100%;
    max-height: 100%;
    height: 150px;
    object-fit: contain;
  }

  .contact-infor-section .character {
    aspect-ratio: 1.7;
    display: none;
    height: auto;
    object-fit: contain;
    width: 20%;
  }

  .contact-infor-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .contact_form {
    /* background-color: #fdebf0; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }

  .form_contact {
    background-image: url("../public/images/contact-background-form.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7% 10%;
  }

  .form_name1 .form_name1_h2 {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    padding: 0 12%;
    position: relative;

    /* top: -4rem; */
  }

  .form_name1 .form_name1_p {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    padding: 7% 13%;
    position: relative;
    /* top: -5rem; */
  }

  .contact_car {
    position: relative;
    top: -1rem;
  }

  .form_heading {
    display: flex;
    flex-direction: row;
  }

  .form_button {
    width: 100%;
  }

  .form_button_input {
    background: #ffffff;
    border-radius: 56px;
    border: none;
    width: 80%;
    padding: 1rem;
    color: black;
  }

  .form_button_btn {
    background: #ed1556;
    font-family: "Titan One";
    border-radius: 56px;
    border: none;
    padding: 1rem;
    width: 20%;
    position: relative;
    right: 7rem;
    font-size: 1rem;
  }

  .contact_img1 {
    width: 100%;
    height: 100%;
  }

  .form_name1 {
    width: 100%;
  }

  .contact_car {
    max-width: 100%;
    width: 200px;
    max-height: 100%;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  /* css contact maps */
  .contact_maps {
    padding-top: 4%;
    display: flex;
    flex-direction: column;
  }

  .contact_maps_left {
    position: relative;
  }

  .contact_logo_maps {
    display: none;
  }

  .contact_imgs_logo {
    animation-name: zoomInOut;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  .contact_maps_imgs {
    width: 100%;
    height: 100%;
  }

  @keyframes zoomInOut {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  .contact_maps_right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5% 5%;
  }

  .contact_maps_right_h2 {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    /* line-height: 73px; */
    height: 50px;
    text-transform: uppercase;
    font-family: "Roboto";
    font-style: normal;
    color: #ffffff;
  }

  .contact_maps_right_address_h4 {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 43px;
    color: #ed1556;

    opacity: 0.8;
  }

  .contact_maps_right_address_p {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 43px;
    color: #ffffff;
    padding-right: 10%;
    opacity: 0.8;
  }

  .contact_car {
    position: relative;
    bottom: -0.5rem;
  }

  .contact_car {
    max-width: 100%;
    width: 70px;
    max-height: 100%;
    height: 70px;
  }

  .form_name1 .form_name1_h2 {
    font-size: 0.5rem;
  }

  .form_button_input {
    background: #ffffff;
    border-radius: 56px;
    border: none;
    width: 80%;
    padding: 0.3rem;
    color: black;
  }

  .form_button_btn {
    background: #ed1556;
    font-family: "Titan One";
    border-radius: 25px;
    border: none;
    padding: 0.6rem;
    width: 20%;
    position: relative;
    right: 2rem;
    font-size: 0.5rem;
  }

  .form_name1 .form_name1_p {
    font-size: 0.5rem;
  }

  .form_contact {
    padding: 10% !important;
  }
}
