.recruit_hiring {
  width: 100%;
  padding: 5% 0;
  display: flex;
  padding-right: 2%;
}

.recruit_hiring_img {
  width: 40%;
}

.recruit_hiring_slider {
  width: 70%;
}

.recruit_text1 {
  padding: 2% 19%;
  padding-bottom: 4rem;
}

.recruit_great {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.recruit_great .recruit_h4 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}

.recruit_lorem {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;

  color: #ffffff;
}

/* css recruit_form */

.recruit_form_help {
  padding-bottom: 4rem;
}

.recruit_form {
  background-image: url("../public/images/recruit2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 12% 2%;
}

.recruit_doyou {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 69px;
  text-align: center;
  color: #ffffff;
}

.recruit_form_lorem1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.recruit_button_support {
  background: #ed1556;
  padding: 6%;
  border-radius: 37.5px;
  border: none;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  width: 20rem;
}

.recruit_button_support:hover {
  background: #ffb4ca;
  transform: translateX(-5px) translateY(-5px);
  box-shadow: 5px 5px 0 0 #121212;
  transition: 0.5s;
}

/* Responsive Recruit */
@media only screen and (min-width: 1300px) and (max-width: 1500px) {
  .recruit_hiring {
    gap: 2%;
  }
}

@media only screen and (max-width: 1300px) {
  .recruit_hiring_imgs {
    max-width: 100%;
    width: 60%;
    max-height: 100%;
    height: 74%;
  }

  .recruit_hiring {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
  }

  .recruit_doyou {
    font-size: 2.5rem;
  }

  .recruit_form_lorem1 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .recruit_great .recruit_h4 {
    font-size: 1.6rem;
  }

  .recruit_lorem {
    font-size: 1rem;
  }

  .recruit_doyou {
    font-size: 1rem;
  }

  .recruit_form_lorem1 {
    font-size: 0.6rem;
  }

  .recruit_button_support {
    font-size: 0.8rem;
    width: 5rem;
  }

  .recruit_form {
    gap: 0;
  }
}

/* css header scruit */
.header_home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10% 30%;
}

.header_achieve {
  text-transform: uppercase;
  font-family: "Titan One", cursive;
  font-size: 7rem;
  color: #ed1556;
}

.header_together {
  display: flex;
  font-family: "Titan One", cursive;
  align-items: center;
  font-size: 7rem;
  text-transform: uppercase;
  color: #ed1556;
}

.header_name1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header_image {
  margin-right: 2rem;
  height: 9rem;
  width: 11rem;
}

.header_greate {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  right: -100%;
  color: rgb(255, 255, 255);
}

.header_by {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(255, 255, 255);
  right: -160%;
}

.header_joinus {
  padding: 20px;
  font-family: "Titan One", cursive;
  border-radius: 24px;
  width: 9rem;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  background-color: #ed1556;
  border: none;
}

.header_joinus:hover {
  background-color: #ed1556;
  transform: translateX(-5px) translateY(-5px);
  box-shadow: 5px 5px 0 0 #121212;
  transition: 0.5s;
}

.header_achieve,
.header_together,
.header_greate,
.header_by,
.photos_name1,
.photos_name2,
.photos_name3,
.photos_game {
  opacity: 0;
}

.header_achieve {
  animation: fade-in-h1 1.6s ease forwards;
}

.header_together {
  animation: fade-in-h1 1.5s ease forwards;
}

.header_greate,
.header_by {
  animation: fade-in-h2 1.5s ease forwards;
}

.photos_name1 {
  animation: fade-in-h1 1.25s ease forwards;
}

.photos_name2 {
  animation: fade-in-h1 1.5s ease forwards;
}

.photos_name3 {
  animation: fade-in-h1 1.75s ease forwards;
}

.header_joinus {
  animation: fade-in-h1 1s ease forwards;
}

.photos_game {
  opacity: 0;
  animation: fade-in-button 2s ease forwards;
}

@keyframes fade-in-h1 {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-h2 {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-button {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header_image {
  animation: zoom-in-out 1.6s ease forwards;
}

@keyframes zoom-in-out {
  0% {
    transform: scale(2.2);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}

/* responsive recruit */
@media only screen and (min-width: 1300px) and (max-width: 1500px) {
  .header_achieve {
    font-size: 5rem;
  }

  .header_together {
    font-size: 5rem;
  }

  .header_image {
    margin-right: 1rem;
    height: 6rem;
    width: 5rem;
  }

  .header_greate {
    font-size: 1.5rem;
  }

  .header_by {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1300px) {
  .header_home {
    padding: 20% 12%;
  }

  .header_achieve {
    font-size: 4.5rem;
  }

  .header_together {
    font-size: 4.5rem;
  }

  .header_create {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
  }

  .header_greate,
  .header_by {
    right: 0;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 768px) {
  .header_home,
  .photos_fall,
  .home_slider_icon,
  .beside_images,
  .footer_info {
    padding: 10% 5%;
  }

  .header_achieve,
  .header_together,
  .header_greate,
  .header_by,
  .photos_name1,
  .photos_name2,
  .photos_name3,
  .photos_game {
    opacity: 1;
  }

  .header_home {
    padding: 29% 5%;
  }

  .header_achieve {
    font-size: 2.5rem;
  }

  .header_together {
    font-size: 2.5rem;
  }

  .header_image {
    width: 60px;
    height: 60px;
    margin-right: 1rem;
  }

  .header_greate,
  .header_by {
    right: 0;
    font-size: 1rem;
  }

  .header_joinus {
    width: 7rem;
    font-size: 10px;
  }
}
