.solitaire_after {
  width: 100%;
  height: 152vh;
  text-align: center;
  padding: 16% 0;
  position: relative;
}

.solitaire_header_images:nth-child(1) {
  transform: translateX(46%);
}

.solitaire_header_images:nth-child(2) {
  transform: translateX(0%);
}

.solitaire_header_images:nth-child(3) {
  transform: translateX(-51%) translateY(5%);
}

.solitaire_after::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0.8) 95%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

/* Responsive solitaire */
@media only screen and (max-width: 1300px) {
  .solitaire_after {
    padding-top: 20%;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .solitaire_after {
    padding-top: 40%;
    height: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1500px) {
  .solitaire_after {
    height: 100%;
  }
}